[package]
name = "iot"
rust-version.workspace = true
version.workspace = true
edition.workspace = true

[dependencies]
embassy-executor = { workspace = true }
esp-bootloader-esp-idf = { workspace = true }
esp-backtrace = { workspace =  true, features = [ "panic-handler", "println" ] }
esp-hal = { workspace =  true, features = [ "unstable" ] }
esp-alloc = { workspace =  true }
esp-println = { workspace =  true, features = ["log-04"] }
esp-radio = { workspace =  true, features = ["ble", "log-04", "unstable"] }
esp-rtos = { workspace =  true, features = ["embassy", "esp-alloc", "esp-radio", "log-04"] }
trouble-host = { workspace =  true, features = ["default-packet-pool-mtu-255", "scan", "log"] }
bt-hci = { workspace =  true }
embassy-futures = { workspace = true }
embassy-time = { workspace = true }
heapless = { workspace = true }
log = { workspace =  true }

[features]
default = ["esp32c3"]
esp32 = ["esp-hal/esp32", "esp-backtrace/esp32", "esp-println/esp32", "esp-radio/esp32", "esp-rtos/esp32", "esp-bootloader-esp-idf/esp32"]
esp32c3 = ["esp-hal/esp32c3", "esp-backtrace/esp32c3", "esp-println/esp32c3", "esp-radio/esp32c3", "esp-rtos/esp32c3", "esp-bootloader-esp-idf/esp32c3"]
log = [
    "trouble-host/log",
    "bt-hci/log"
]
security = [
    "trouble-host/security",
]
std = []