[package]
name = "iot"
rust-version.workspace = true
version.workspace = true
edition.workspace = true

[[bin]]
name = "iot"
path = "src/main.rs"

[dependencies]
bt-hci = { workspace = true }
embassy-executor = { workspace = true }
embassy-sync = { workspace = true }
embassy-futures = { workspace = true }
embassy-time = { workspace = true }
esp-bootloader-esp-idf = { workspace = true }
esp-backtrace = { workspace = true, features = [ "panic-handler", "println" ] }
esp-hal = { workspace = true, features = [ "unstable" ] }
esp-alloc = { workspace = true }
esp-println = { workspace = true, features = ["log-04"] }
esp-radio = { workspace = true, features = ["ble", "log-04", "unstable"] }
esp-rtos = { workspace = true, features = ["embassy", "esp-alloc", "esp-radio", "log-04"] }
heapless = { workspace = true }
log = { workspace = true}
static_cell = { workspace = true }
trouble-host = { workspace = true, features = ["default-packet-pool-mtu-255", "scan", "log", "gatt"] }

# for 'ble_bas_peripheral_bonding'
embassy-embedded-hal = { workspace = true }
esp-storage = { workspace = true }

# Workspace
services = { workspace = true }

[features]
default = ["esp32c3"]
esp32c3 = ["esp-hal/esp32c3", "esp-backtrace/esp32c3", "esp-println/esp32c3", "esp-radio/esp32c3", "esp-rtos/esp32c3", "esp-storage/esp32c3", "esp-bootloader-esp-idf/esp32c3"]
